@font-face {
  font-family: StackSans;
  src: url(fonts/StackSansNotch-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: StackSans, Arial;
  background-color: #f4f4f4;
}

.content {
  background-color: rgb(44, 139, 44);
  color: white;
  margin: 0;
}

h3 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

.nav-header {
  background: #084e0c;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header h2 {
  margin: 0;
}

.nav-header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 400;
}

.nav-header nav a:hover {
  text-decoration: underline;
}

.sidebar {
  width: 220px;
  background: #e1e1e1;
  padding: 20px;
  min-height: 200vh;
  float: left;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.sidebar ul li a:hover {
  color: #003366;
}

.maincontent {
  background-color: white;
  color: #333;
  padding-left: 120px;
  padding-top: 30px;
  margin-left: 200px;
}
